@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #fffff5;
 
}


.prompt-text {
  color: #186f22;
  font-size: 44px;
  margin-top: 40px;
  text-align: center;
}

.word-container {
  background-color: #fffff5;
  font-family: 'Open Sans', sans-serif;
  margin: 100px auto;
  padding: 40px 40px;
  position: relative;
  width: 70%;
  border-radius: 2rem;
}

.word-shuffle {
  display: inline;
  text-indent: 8px;
}
.word-shuffle span {
  animation: topToBottom 15s linear infinite 0s;
  -ms-animation: topToBottom 15s linear infinite 0s;
  -webkit-animation: topToBottom 15s linear infinite 0s;
  color: #5b166d;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.word-shuffle span:nth-child(2) {
  animation-delay: 5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.word-shuffle span:nth-child(3) {
  animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}

.word-shuffle span:nth-child(4) {
  animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}

.word-shuffle span:nth-child(5) {
  animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
.word-shuffle span:nth-child(6) {
  animation-delay: 12.5s;
  -ms-animation-delay: 12.5s;
  -webkit-animation-delay: 12.5s;
}

.start-btn {
  margin-left: 40%;
  margin-right: 20%;
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;    
  width: 35%;
  min-height: 50px;
  border-radius: 1rem;
  background-color: #000000;
  color: #fffff5;
}
@-moz-keyframes topToBottom {
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateY(-50px); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}



.quiz-container {
  min-height: vh100;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: center;
  background-color: #000000;
  min-height: vh100;
  color: #fffff5;
}

.question-container {
  background-color: #fffff5;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  margin-top: 2rem;
  width: 40%;
  border-radius: 2rem;
  margin-bottom: 3%;
  min-height: 100vh;
}

.question-title {
  text-align: center;
  font: #000000;
  margin-bottom: 30%;
}




.choices-container {
  background-color: #fffff5;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  overflow: hidden;
  background: #fffff5;
  
}

.btn {
  flex: display;
  justify-content:space-between;
  margin: 1rem;
}
.choices {
  display: flex;
  margin: .3rem;
  background: #000000;
  color: #fffff5;
  text-align: center;
  border-radius: .1rem;
}
.submit-btn {
  background-color:#000000;
  color: #fffff5;
}
.next-btn {
  background-color: #fffff5;
  color: #000000;
}

.timer-score-container {
  display: flex;
  flex-flow:wrap;
  flex-grow: initial; 
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

.timer {
  margin-right: 10px;
}
.score {
  margin-left: 10px;
}

.result-container {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hidden {
  display: none;
}